<h1 class="pb-3 mb-3 border-bottom">LONGEST WORD</h1>
<ul class="justify-content-between mb-3 pt-5">
  <% @letters.each do |letter| %>
    <li class="letter d-flex justify-content-center align-items-center"> <%= letter.capitalize %> </li>
  <% end %>
</ul>

<form action="score" method="post" data-turbo="false" class="pt-5 pb-5 mb-5 border-bottom">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <div class="input-group mb-3">
  <input name="letters" type="hidden" value="<%=@letters.join%>">
  <input type="text" name="input" class="form-control" placeholder="write your word here">
  <input type="submit" value="Submit" class="btn btn-outline-secondary">
  </div>
</form>

<% unless session[:score].nil? %>
  <h2>your score is : <%= session[:score] %> points</h2>
<% end %>
